@import url(reset.css);

*
{
	margin: 0;
	padding: 0;
}

body
{
	max-width: 1600px;
	background-image: url(../_images/ice2.jpg);
	background-repeat: repeat;
	background-size: 1600px, 800px, cover;	
	font-family: Tahoma, Geneva, sans-serif;
}

/*This is just the stuff I messed with on 4/12 (Ian)*/

#TextAndVideo
{
	float: left;
	width: 38%;
	height: auto;
	padding-top: 60px;
	font-size: 1.9em;
}

#formentry
{
	
	font-size: 1.7em;
	padding-top: 70px;
	width: 300px;
	text-align: left;
	display: inline-block;
	float: left;
	clear: left;
}

input
{
	display: inline-block;
	float: right;
}

#lstState
{
	display: inline-block;
	float: right;
}

legend
{
	font-size: 1.3em;
}

#accountdetails
{
	font-size: 1.2em;
	padding-top: 70px;
}

#AccountDets
{
	text-align: left;
	display: inline-block;
	float: left;
	clear: left;
}

#TicketReg
{
	text-align: left;
	display: inline-block;
	float: left;
	clear: left;
}

#RegTick
{
	text-align: right;
	display: inline-block;
	float: both;
	clear: both;
}
/*--------------------------*/
#wrap	
{
	color: white;
	font-size: 62.5%; 
	width: 80%;
	/*max-height: 2000px;*/
	max-width: 1000px;
	min-height: 100%;
	height:1000px;
	margin: 0 auto -200px;
	padding: 2%;
	/*background-color: rgba(31,54,96,0.90);*/
	background: -moz-linear-gradient(top, #193443 0%, #3f545f 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #193443 0%,#3f545f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #193443 0%,#3f545f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #193443 0%,#3f545f 100%); /* IE10+ */
	background: linear-gradient(bottom, #193443 0%,#3f545f 100%); /* W3C */
	border-radius:15px;
	border:2px solid;
	box-shadow: 5px 5px 15px #002448;
}

#header
{
	display: block;
	height:70px;
}

#logo 
{
	float:left;
	height: 100px;
	width:110px;	
	overflow:hidden;
}

#sign-in
{
	float: right;
	display: block;
	height: 70px;
}

#sign-in h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

#sign-in h4 {
	font-size: 14px;
	text-align:center;
	background-image: linear-gradient(#035, #999 40%, #027 55%, #035);
	padding: 3px;
	margin: 2px;
	border: solid 1px;
	border-radius: 7px;
	border-color: white;
}

#sign-in h4:hover {
	border: outset 1px;
	color: lightgrey;
}

#sign-in h4:active {
	border: inset 1px;
	color: darkgrey;
}

#sign-in a {
	color: white;
	text-decoration: none;
}

#sign-in a:hover {
	color: lightgrey;
}

#sign-in a:active {
	color: darkgrey;
}

#user_logIn
{
	float:right;
	display: block;
}

#password_signup
{
	float:right;
	display: block;
}

#password_signup input {
	float: left;
	width: 150px;
	height: 15px;
}

.button
{
	background-image: linear-gradient(#035, #999 40%, #027 55%, #035);
	border:1px solid;
	border-radius: 7px;
	height: 20px;
	width: 80px;
	color: white;
	margin: 2px;
	cursor: pointer;
}

.button:hover {
	border-style: outset;
	color: lightgray;
}

.button:active {
	border-style: inset;
	color: darkgray;
}

.textbox, .password
{
	height: 12px;
	width: 80px;
	margin: 3px;
}

#nav
{
	margin-left: 100px;
	display:block;
	clear:both;
	padding-top:30px;
}

#nav ul li 
{
	float: left;
	width: 15%;
    height: 100%;
    text-align: center;
    margin: 1%;
	display:block;        
}
#nav ul li a 
{
	text-decoration: none;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	width: 100%;
	line-height: 20px;
	background-image: linear-gradient(#035, #999 40%, #027 55%, #035);
	border:1px solid;
	border-radius: 7px;
	height: 20px;
	color: white;
}
#nav ul li a:hover, #nav ul li a:active, #nav ul li a:focus 
{
	color: rgb(100,180,255);
}

#body
{
	display: block;
	float: left;
	width: 60%;
	height: auto;
	margin-bottom:20px;			
}

#sponsors
{
	float: right;
	width: 38%;
	height: auto;
	padding-top: 30px;
	font-size: 1.9em;
}

#sponsors img{
	width: 100%;
}

footer
{
	position: relative;
	padding-top: 10px;
	display: block;
	font-size: 1.6em;
	text-align: center;
	margin:5px;
	padding: 10px;
	background-color: rgb(31,54,96);
	clear: both;
	border:2px solid;
	border-radius:12px;
	bottom:0px;
	z-index: 0;
	margin-top: 600px;
}

.AccountDetails {
	display: block;
	float: left;
	width: 300px;
	clear: both;
}

.AccountDetails .button {
	display: inline-block;
	float:none;
	width: auto;
	height: 25px;
	padding-left: 3px;
	padding-right: 3px;
}

.AccountDetails p {
	display: block;
	height: 12px;
}

.label {
	display: block;
	float: left;
    font-size:small;
}

.AccountDetails .label {
	width: 80px;
}

.RegisteredTickets {
	display: block;
	float: left;
	width: 300px;
}

.RegisteredTickets .label {
	width: 50px;
}

.TicketRegistration {
	display: block;
	float: left;
	width: 300px;
}

fieldset#acctInfo .actinfo {
	background: transparent;
	border: none;
	color: white;
}

fieldset#editInfo .actinfo:hover {
	background: grey;
	font-weight: bolder;
}